\#*\#
.\#*
build/**
*~
arduino/src/rust.h
TAGS
src/bindings.rs
/dro138_derive/target


#todo this is pretty dumb probably
**/TFTLib/Adafruit_TFTLCD_8bit_STM32.hpp

#Added by cargo

/target
Cargo.lock
