[package]
name = "dro138"
version = "0.1.0"
authors = ["allie"]
edition = "2018"
build = "build.rs"

[lib]
name = "dro138"
crate-type = ["staticlib"]

[dependencies]
ili9341 = "0.3.0"
embedded-hal = "0.2.3"
dro138_derive = { path = "./dro138_derive" }

[dependencies.stm32f1]
version = "0.11.0"
features = ["stm32f103"]

[build-dependencies]
bindgen = "0.54.0"
